<%- include("partials/header") %>
<div class="container col s4">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Account<% if(username!=session.username){ %>(<%= username %>)<% } %></span>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <!-- <input type="text" id='username' required /> -->
                            <input type="text" placeholder="Username" value=<%- "'"+username+"'" %> id="username" required />
                            <label for='username'>Username</label>
                        </div>
                    </div>
                    <% if(username==session.username){ %>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <!-- <input type="text" id='username' required /> -->
                            <input type="password" type="password" id="password" required/>
                            <label for='password'>Password (required)</label>
                        </div>
                    </div>
                    <% } %>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input type="password" type="password" id="new_password"/>
                            <label for='new_password'>New password</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input type="password" id="confirm_password"/>
                            <label for='confirm_password'>Confrim password</label>
                        </div>
                    </div>
                    <button id="submit" class="waves-effect waves-light btn">Confirm</button>
                </div>
            </div> 
        </div>  
    </div>  
</div>  

<%- include("partials/jquery") %>
<script>
    $("#new_password").on("focusout", function (e) {
        if ($(this).val() != $("#confirm_password").val()) {
            $("#confirm_password").removeClass("valid").addClass("invalid");
        } else {
            $("#confirm_password").removeClass("invalid").addClass("valid");
        }
    });

    $("#confirm_password").on("keyup", function (e) {
        if ($("#new_password").val() != $(this).val()) {
            $(this).removeClass("valid").addClass("invalid");
        } else {
            $(this).removeClass("invalid").addClass("valid");
        }
    });

    async function postData(url = '', data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, *cors, same-origin
        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        credentials: 'same-origin', // include, *same-origin, omit
        headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: 'follow', // manual, *follow, error
        referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
    }

    var data = {};
    document.getElementById("submit").addEventListener("click", function() {
        var new_password = document.getElementById('new_password').value;
        var confirm_password = document.getElementById('confirm_password').value;
        if((new_password || confirm_password) && new_password!=confirm_password) return alert("New passwords do not match!")
        
        data = {
            "username": document.getElementById('username').value,
            <% if (username==session.username){ %>
            "password": document.getElementById('password').value,
            <% } %>
            "new_password": document.getElementById('new_password').value,
        };

        postData(<% if(username == session.username){ %>"/user/self/change"<% }else{ %> <%- "'/user/"+userid+"/change'" %> <% } %>, data)
        .then(data => {
            console.log(data);
            if(data.status == "ok"){
                alert("Account update successful");
                window.location.href = "/";
            }else{
                alert(data.err_msg);
            }

        });
    });

</script>
<%- include("partials/footer") %>