<%- include("partials/header") %>
<h2>Account</h2>
<h4>Username: <%= username %></h4>
<h4>No. of comments: <%= number %></h4>
<button onclick="window.location.href=<% if(username == session.username){ %><%- "'/user/self/change'" %><% }else{ %><%- "'/user/"+userid+"/change'" %><% } %>">Change password</button>